.App {
  text-align: center;
}

.App-logo {
  height: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.button {
  margin: 0;
  padding: 0;
  width: 65px;
  height: 50px;
  font-weight: bold;
  background-color: #282c34;
  border: 1px solid #484c54;
  vertical-align: middle;
  font-size: 35px;
}

td .button {
  margin: 0;
  padding: 0;
}

.button:hover {
  background-color: lightslategray;
  cursor: pointer;
}

div.display {
  background-color: lightslategray;
  
  height: 80px;
  width: 284px;
  border: solid 1px darkgray;
  
}

div.calc-top {
  word-wrap: break-word;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 60px;
}

div.calc-expression {
  font-size: 12px;
  text-align: left;
}

